<mat-sidenav-container>
<mat-sidenav #sidenav mode='overlay'>
    <a href="#"><h2>Winter Is Comming</h2></a> 
    <a routerLink='/weather' routerLinkActive='active'>Weather</a>
    <a routerLink='/weather-3days' routerLinkActive='active'>3 Days</a>
    <a routerLink='/settings' routerLinkActive='active'>Settings</a>
</mat-sidenav>

<mat-sidenav-content>
    <button mat-raised-button (click)='sidenav.toggle()' color='accent'><mat-icon>menu</mat-icon></button>
    <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
