
.container{
    text-align: center;
    width: 90%;
    background-color:inherit;
    margin: 0 auto 0 auto;
    height: 100%;
}
.inputField{
    width: 80%;
    text-align: center;
}
mat-label{
    font-size: 30px;
}
input{
    width: 80%;
    font-size: 30px;
    text-align: center;
}
button{
    margin-top: 0;
    width: 50%;
    height: 6vh;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
} 

.details{
    height: fit-content;
    font-size: 2rem;
    background-color: lightgray;
    margin: 0px;
    color: white;
    padding: 20px;
}
.pressure{
    background-color: rgb(75, 20, 130);
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px; 
}
.weather{
    background-color: rgb(75, 30, 130);
}
.temp{
    cursor: pointer;
    background-color: rgb(75, 40, 130);
}
.name{
    background-color: rgb(75, 50, 130);
    margin-top: 15vh;
    cursor: pointer;
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px; 
}
